<div class="container align-middle pt-5 reset-pwd" style="margin-left: 10%;margin-right: 10%;"
  class={{this.virtualAssistPadding}}>
  <div class="row align-items-center col-xs-12 col-md-12 col-sm-12 pt-5 mt-5">
    <div class="col-xs-4 col-md-4 col-sm-4 pt-5">
      <img src="assets/images/otp-img.png" alt="login-img" class="login-img" />
    </div>
    <div class="col-xs-8 col-md-8 col-sm-8 pt-5">
      <form [formGroup]="resetForm" #myform="ngForm">
        <div class="col-xs-12 col-md-12 col-sm-12 mt-1">
          <p class="login-title">{{ResetYourPassword}}</p>
        </div>
        <div class="col-xs-8 col-md-8 col-sm-8 mt-1" style="position: relative;">
          <div class="col-md-2 ps-4" style="float:right;">
            <i class="mt-2 mx-4" style="position: absolute;cursor: pointer; right:0;" (click)="toggleField()">
              <img *ngIf="this.fieldType=='password'" src="assets/images/icons/eye-slash.svg" />
              <img *ngIf="this.fieldType=='text'" src="assets/images/icons/eye-open.png" />
            </i>
          </div>
          <input [type]="this.fieldType" class="form-control login-text-field" id="newPassword"
            placeholder="New Password" formControlName="newPassword"
            [ngClass]="resetForm.get('newPassword').errors && myform.submitted?'form-control-invalid': 'form-control'">
          <div *ngIf="resetForm.get('newPassword').hasError('required')&& myform.submitted"
            class="small text-danger mt-1">New password is required!</div>
          <div *ngIf="resetForm.get('newPassword').hasError('pattern')" class="small text-danger mt-1">Enter a valid
            password!</div>
          <div *ngIf="resetForm.get('newPassword').hasError('minlength')" class="small text-danger mt-1">Password must
            contain {{this.MinLength}} characters!</div>
          <div *ngIf="resetForm.get('newPassword').hasError('maxlength')" class="small text-danger mt-1">Password should
            not exceed {{this.MaxLength}} characters!</div>
        </div>
        <div class="col-xs-8 col-md-8 col-sm-9 imp-div mt-3">
          <p style="margin-top: 12px;" class="note"><img src="assets/images/icons/important.svg"
              class="important-icon m-12" alt="important-img" width="20" />
            Your password must contain at least {{this.MinLength}} characters including an upper case, a lower case, a
            number and a special character.
          </p>
        </div>
        <div class="col-xs-8 col-md-8 col-sm-8 mt-1" style="position: relative;">
          <input type="password" class="form-control login-text-field" id="confirmnewPassword"
            placeholder="Confirm New Password" formControlName="confirmnewPassword"
            [ngClass]="resetForm.get('confirmnewPassword').errors && myform.submitted?'form-control-invalid': 'form-control'">
          <div *ngIf="resetForm.get('confirmnewPassword').hasError('required')&& myform.submitted"
            class="small text-danger mt-1">{{RetypeYourPassword}}</div>
          <div *ngIf="resetForm.get('confirmnewPassword').hasError('mustMatch')" class="small text-danger mt-1">
            {{PasswordMustMatch}}</div>
        </div>
        <div class="col-xs-8 col-md-8 col-sm-8 mt-4" style="float: left;">
          <button type="submit" class="btn btn-primary mb-3 login-text-field"
            style="background-color: 1px solid #2494ED;color: #FFFFFF;"
            (click)="resetPassword(resetForm.value)">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>