<div class="col-xs-12 col-md-12 col-sm-12 jumbotron appLanding-bg pt-5 body-height">
    <div class="container col-xs-12 col-md-12 col-sm-12 ">
        <div class=" col-xs-12 col-md-12 col-sm-12 pt-3 jumbotron vertical-center">
            <div class="align-middle">
                <div class="d-flex align-items-center justify-content-center col-xs-12 col-md-12 col-sm-12 pt-5 mt-5">
                    <div class="col-xs-4 col-md-4 col-sm-4 pt-5">
                        <img src="assets/images/login-img.png" alt="login-img" class="login-img" />
                    </div>
                    <div class="col-xs-8 col-md-8 col-sm-8 pt-5">
                        <div class="col-xs-6 col-md-6 col-sm-6">
                            <p class="login-title mb-1">{{AccessDenied}}<br>
                        </div>
                        <div class="col-xs-7 col-md-7 col-sm-7 mt-4 fl">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>