<div class="container align-middle body-height" [ngClass]=this.currentTheme>
    <div class="row align-items-center col-xs-12 col-md-12 col-sm-12 mt-4 mb-5">
        <div class="col-xs-12 col-md-12 col-sm-12 pt-5 row g-3">
            <form autocomplete="off" [formGroup]="changePasswordForm" #myform="ngForm">
                <input autocomplete="false" name="hidden" type="text" style="display:none;">
                <div class="col-xs-12 col-md-12 col-sm-12 mt-1">
                    <p class="login-title">{{ChangePassword}}</p>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <label class="dashboard-p1 mb-4">{{EnterCurrentPassword}}</label>
                    <div class="col-xs-12 col-md-12 col-sm-12 row">
                        <div class="col-md-6 col-xl-4" style="position: relative;">
                            <div class="col-md-2 ps-3 pe-5" style="float:right;">
                                <i class="mt-2 mx-2" style="position: absolute;cursor: pointer;"
                                    (click)="togglePassword()">
                                    <img *ngIf="this.passwordToggle=='password'"
                                        src="assets/images/icons/eye-slash.svg" />
                                    <img *ngIf="this.passwordToggle=='text'" src="assets/images/icons/eye-open.png" />
                                </i>
                            </div>
                            <div class="col-12">
                                <input [type]="this.passwordToggle" class="form-control textfield-label"
                                    id="currentPassword" placeholder="Current Password"
                                    formControlName="currentPassword"
                                    [ngClass]="changePasswordForm.get('currentPassword').hasError('required') && myform.submitted?'form-control-invalid': 'form-control'">
                            </div>
                            <div *ngIf="changePasswordForm.get('currentPassword').hasError('required')&& myform.submitted"
                                class="small text-danger mt-1">{{PassReq}}</div>
                            <div *ngIf="changePasswordForm.get('currentPassword').hasError('pattern')"
                                class="small text-danger mt-1">{{PassVal}}</div>
                            <div *ngIf="changePasswordForm.get('currentPassword').hasError('minlength')"
                                class="small text-danger mt-1">Password must contain {{this.MinLength}} characters!
                            </div>
                            <div *ngIf="changePasswordForm.get('currentPassword').hasError('maxlength')"
                                class="small text-danger mt-1">Password should not exceed {{this.MaxLength}} characters!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12" style="position: relative;">
                    <label class="dashboard-p1 mt-4 mb-4">{{NewPass}}</label>
                    <div class="col-xs-12 col-md-12 col-sm-12 row">
                        <div class="col-md-6 col-xl-4">
                            <div class="col-md-2 ps-3 pe-5" style="float:right;">
                                <i class="mt-2 mx-2" style="position: absolute;cursor: pointer;"
                                    (click)="toggleNewPassword()">
                                    <img *ngIf="this.newPasswordToggle=='password'"
                                        src="assets/images/icons/eye-slash.svg" />
                                    <img *ngIf="this.newPasswordToggle=='text'"
                                        src="assets/images/icons/eye-open.png" />
                                </i>
                            </div>
                            <div class="col-12">
                                <input [type]="this.newPasswordToggle" class="form-control textfield-label"
                                    id="newPassword" placeholder="New Password" formControlName="newPassword"
                                    [ngClass]="changePasswordForm.get('newPassword').hasError('required') && myform.submitted?'form-control-invalid': 'form-control'">
                            </div>
                            <div *ngIf="changePasswordForm.get('newPassword').hasError('required')&& myform.submitted"
                                class="small text-danger mt-1">{{NewPassReq}}</div>
                            <div *ngIf="changePasswordForm.get('newPassword').hasError('pattern')"
                                class="small text-danger mt-1">{{PassVal}}</div>
                            <div *ngIf="changePasswordForm.get('newPassword').hasError('minlength')"
                                class="small text-danger mt-1">Password must contain {{this.MinLength}} characters!
                            </div>
                            <div *ngIf="changePasswordForm.get('newPassword').hasError('maxlength')"
                                class="small text-danger mt-1">Password should not exceed {{this.MaxLength}} characters!
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4" style="position: relative;">
                            <div class="col-md-2 ps-3 pe-5" style="float:right;">
                                <i class="mt-2 mx-2" style="position: absolute;cursor: pointer;"
                                    (click)="toggleConfirmPassword()">
                                    <img *ngIf="this.confirmPasswordToggle=='password'"
                                        src="assets/images/icons/eye-slash.svg" />
                                    <img *ngIf="this.confirmPasswordToggle=='text'"
                                        src="assets/images/icons/eye-open.png" />
                                </i>
                            </div>
                            <div class="col-12">
                                <input [type]="this.confirmPasswordToggle" class="form-control textfield-label"
                                    id="confirmnewPassword" placeholder="Re-enter New Password"
                                    formControlName="confirmnewPassword"
                                    [ngClass]="changePasswordForm.get('confirmnewPassword').hasError('required') && myform.submitted?'form-control-invalid': 'form-control'">
                            </div>
                            <div *ngIf="changePasswordForm.get('confirmnewPassword').hasError('required')&& myform.submitted"
                                class="small text-danger mt-1">{{ReEnterYourPassword}}</div>
                            <div *ngIf="changePasswordForm.get('confirmnewPassword').hasError('mustMatch')"
                                class="small text-danger mt-1">{{PasswordMustMatch}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-md-8 col-sm-9 imp-div mt-3 p-2 d-flex">
                    <img src="assets/images/icons/important.svg" class="important-icon ms-2" alt="important-img"
                        width="20" />
                    <label class="dropdown-select-label mb-0">
                        Your password must contain at least {{this.MinLength}} characters including an upper case, a
                        lower case, a number and a special character.
                    </label>
                </div>
                <div class="col-xs-8 col-md-8 col-sm-8 mt-4" style="float: left;">
                    <button id="btncancel" type="reset" class="btn btn-outline mb-3 login-text-field"
                        style="border: 1px solid #2494ED;margin-right: 10px;">{{Cancel}}</button>
                    <button type="submit" class="btn btn-primary mb-3 login-text-field"
                        style="background-color: 1px solid #2494ED;color: #FFFFFF;"
                        (click)="changePassword(changePasswordForm.value)">{{Update}}</button>
                </div>
            </form>
        </div>
    </div>
</div>